html, body {
    overflow: hidden;
    height: 100vh;
}

body {
    margin: auto;
    background-color: dimgray;
    font-family: 'Open Sans', sans-serif;
    color: black; 
}

canvas {
    height: auto;
    width: auto;
}

#content {
    width: 45vw;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#grid {

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    opacity: 0.80;

}

#g1, #g2, #g3 {
    background-color: white;
}

#g1 {
    grid-column: span 1;
    grid-row: span 2;
    text-align: center;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#g2 {
    display: flex;
    justify-content: flex-start; /* align horizontal */
    align-items: center; /* align vertical */
}

#g3 {
    display: flex;
    justify-content: flex-start; /* align horizontal */
    align-items: center; /* align vertical */
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkgray;
}

.icons {
    text-align: center;
    position: absolute;
    font-size: 1.65vw;

}

.icons a {
    padding: 0.75em;
}

@media only screen and (max-width: 900px) {
    .icons {
        font-size: 2.28vw;
    }
}

@media only screen and (max-width: 600px) {

    #content {
        width: 90vw;
        height: 40vh;
    }

    #grid {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1.25fr;
        height: 100%;
        width: 100%;
        opacity: 0.80;

    }

    #g1 {
        grid-column: span 2;
        grid-row: span 1;
    }

    #g2 > ul {
        padding: 0;
        margin: 0;
    }

    #g2 li {
        padding-right: 0.2em;
        margin-right: 0.2em;
    }

    .icons {
        text-align: center;
        position: relative;
        bottom: 0;
        font-size: 5.5vw;
    }

    .icons span {
        text-align: center;

    }

    .icons a {
        width: 50%;
        margin: auto 8px;
        padding: 0 0 0 0;
        display: inline-block;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
}

